body, html {
  padding: 0;
  margin: 0;
}

/* .app-container {
  width:80%;
  border: 1px solid red;
  margin: 0 auto;
} */

.panel {
  display: inline-block;
  height: 100vh;
  min-height: 100vh;
  vertical-align: top;
}

.left-panel{
  width: 30%;
  background: #283447;
  height: 100vh;
  min-height: 100vh;

}

.right-panel{
  width: 69%;
  background: white;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width:40%;
  margin: 25px;
}

.pricing-container{
  margin-top:60px;
  text-align: center;
  background: #67686d4d;
  padding: 2px;
}

.price {
  color: white;
  font-size: 3em;;
}

.price span {
  font-size: .35em;
  position: relative;
  top: -20px;
  left: -5px;
}

.input-container{
  margin-top: 80px;
}

.input-container input {
  width: 50%;
  display: block;
  margin: 25px auto;
  padding: 10px;
  background: #f3f4ee;
  box-shadow: none;
  border-style: none;

}

.input-container button {
  width: 55%;
  margin: 0 auto;
  padding: 10px;
  background: #538c53;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
}

.panel-select{
  padding-right: 65px;
}

.right-container  select option {
  background: none;
}

.right-panel-main-container{
  padding: 0 30px;
}

.right-container {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.right-container label{
  font-size: 0.9em;
}

.dropdown-container{
  width: 25%;
  margin: 0 12px;
  display: inline-block;
}

.color-container{
  display: inline-block;
  margin-left: 40px;
  width: 400px;
  height: 60px;
  position: relative;
}

#dropdown-color-container{
  vertical-align: top;
  margin-top: 18px;
  margin-left: 4px;
}

.right-input-container{
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 0.9em;
  border: 1px solid #ccc;
}

.right-input-container .heading {
  font-weight: 500;
  margin: 0;

}

.panel-container p{
  border: 1px solid #ccc;
  width: 10%;
  text-align: center;
  padding: 8px 4px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
}

.panel-container p:hover{
  cursor: pointer;
}

.panel-container .active{
  background: #538c53;
  color: white;
  font-weight: 500;
}

hr {
  width: 95%;
  margin: 0;
  position: relative;
  left: 20px;
  /* border: 1px solid #eee; */
  border: none;
}

.colors p{
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;;
}

.colors p:hover{
  cursor: pointer;
}

.colors .active{
  border: 2px solid #3e3e3e;
}